<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="testKey" value="testValue"/>
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="libfolder;"/>
    </assemblyBinding>
  </runtime>

</configuration>